main{
    border: 5px solid burlywood;
    /* width: 50%; */
    width: 25%;
}

section{
    border: 5px dashed greenyellow;
    /* width: 50%; */
    width: 50vw;
}

body{
    font-size: 2em; /*em--relative to the parent | rem --relative to the root*/
}

header{
    font-size: 2em;
}