* {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

#card {
    height: 480px;
    width: 320px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #111;
    position: relative;
    overflow: hidden;
}

#stories {
    height: 120px;
    width: 100%;
    /* background-color: rgb(240, 41, 41); */
    border-bottom: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;

}

#stories::-webkit-scrollbar {
    display: none;
}

.story {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 3px solid #9b59b6;
    overflow: hidden;
    display: inline-block;
    margin-right: 5px;
}

.story img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

#full-screen {
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#story-bar {
    width: 0;
    height: 4px;
    background: linear-gradient(to right, #feda75, #fa7e1e, #d62976, #962fbf, #c300ff, #cb10ff, #a600ff, #ea06ff);
    transition: width 3s linear;
    position: absolute;
    bottom: 0;
}